APP_NAME=APT API
APP_ENV=development
DATABASE_URL=postgresql+asyncpg://apartment:secret@localhost:5433/apartment_db
JWT_SECRET_KEY=0e17e6e75931ac1277d747149e02a37447176718a336fd5849edaad6fe1715ba
JWT_ALGORITHM=HS256
JWT_EXPIRATION_HOURS=24
PASSWORD_HASH_ALGORITHM=bcrypt
BACKEND_CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]
